body {
  background-color: #f8f9fa !important;
}
.nav {
  margin-left: auto;
  margin-right: auto;
  position: absolute; /* postulat de départ */
  top: 449.75px;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  padding: 0px;
}
.nav1 {
  padding-left: 10px;
  padding-right: 0px;
}
.navform {
  margin-left: auto;
  margin-right: auto;
}
.imgcenter {
  margin-left: auto;
  margin-right: auto;
  position: absolute; /* postulat de départ */
  top: 48%;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-40%, -50%); /* décalage de 50% de sa propre taille */
  padding: 0px;
}
.btn-manomano {
  color: rgb(0, 0, 0) !important;
  background: linear-gradient(55deg, #0397a7 40%, #00eccd 60%) !important;
  /* background-color: #00eccd !important; */
  border-color: #0397a7 !important;
}
.btn-manomano:hover {
  color: #fff !important;
  background: linear-gradient(-50deg, #00eccd 40%, #0397a7 60%) !important;
  border-color: #00eccd;
}
.btn-manomano.focus,
.btn-manomano:focus {
  color: #fff;
  background-color: #0397a7;
  border-color: #0397a7;
  -webkit-box-shadow: 0 0 0 0.2rem #0397a7d3;
  box-shadow: 0 0 0 0.2rem #0397a7d3;
}
.btn-manomano.disabled,
.btn-manomano:disabled {
  color: #fff;
  background-color: #0397a7;
  border-color: #0397a7;
}
.btn-manomano:not(:disabled):not(.disabled).active,
.btn-manomano:not(:disabled):not(.disabled):active,
.show > .btn-manomano.dropdown-toggle {
  color: #fff;
  background-color: #0397a7;
  border-color: #0397a7;
}
.btn-manomano:not(:disabled):not(.disabled).active:focus,
.btn-manomano:not(:disabled):not(.disabled):active:focus,
.show > .btn-manomano.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #0397a7a6;
  box-shadow: 0 0 0 0.2rem #0397a7a6;
}
#A1 {
  z-index: 2;
  position: absolute;
}
#A2 {
  z-index: 1;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  /* height: auto; */
  padding-right: 0px;
  transform: translate(2%, 0%); /* décalage de 50% de sa propre taille */
  -webkit-scrollbar-button: horizontal;
  scroll-snap-type: x proximity;
}
::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(220, 220, 220, 0);
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(58, 55, 55);
}
.btn-menu {
  max-width: 10% !important;
  max-height: 10% !important;
}
.img {
  height: 100%;
  width: 40%;
}
.hide {
  display: none;
}
