@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body, html {
  overflow-x: hidden; 
  height: 2000px;
  margin: 0;
  margin-bottom: 10px;
}

.logo{
  display: inline-block;
  height: 75px;
  width: 300px;
}

.titleBrand{
  padding: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.selection{
  height: 200px;
  margin-top: 300px;
  margin-bottom: 300px;
}

.selection1{
  margin-top: 4%;
}

.titleDiv{
  border-radius:3px;
  max-width: 50%;
  border: solid;
  height: 100px;
  padding: 1%;
  border-color: rgba(0, 47, 134, 0.49);
}

.oneTheme{
  height:auto;
  padding: 15px;
  margin-top:10px;
  background-color: rgba(187, 211, 255, 0.49);
  border-radius:45px;
  border-color: black;
}

.titleTheme{
  border-radius: 10px;
  margin-top:15px;
  margin-bottom:20px;
  height:50px;
  background-color:rgb(203, 221, 252);
}

.sousThemes{
  border: none;
  background-color: transparent;
}

a{

  font-size:large;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
a:hover {
  color: rgb(7, 7, 167);
  text-decoration: none;
  font-size: 20px;
}

/*container pour les éléments de la page home*/
